.contacts {
    line-height: 1.17;
    @media (max-width: 767px) {
        margin-bottom: 64px;
    }
    @media (min-width: 1200px) {
        display: inline-flex;
    }
}


.contacts__item {
    @media (max-width: 767px) {
        font-size: 24px; 
        &:first-child {
            margin-bottom: 32px;
            font-size: 34px;
            line-height:1.18;
        }
    }

    @media (min-width: 768px) {
        font-size: 12px;

        &:first-child {
            margin-bottom: 10px;
        }
    }

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;

        &:first-child   {
            margin-bottom: 0px;
            margin-right: 30px;
        }
    }
}

.contacts__link {
    color: $color-main;
    transition-property: color;

    &:hover,
    &:active,
    &:focus {
        color: $color-accent;
    }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    @media (min-width: 1200px) {
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__icon {

    @media (max-width: 767px) {
        display: none;
    }    
        margin-right: 10px;

    fill: currentColor;
}