.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header__logo {
    color: $color-dark;

    @media (min-width: 1200px) {
        margin-right: 93px;
    }

    &.hidden {
        display: none;
    }
}



.switcher-button {
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    background: transparent;
    border: none;
    cursor: pointer;
}


.switcher-button .icon-cross {
    display: none;
}

.switcher-button.is-open .icon-cross {
    display: block;
}

.switcher-button.is-open .icon-menu {
    display: none;
}


.switcher-button:hover .switcher-button__icon {
    fill: $icon-accent;
}


.menu-container {
    display: none;

    font-weight: 500;
    letter-spacing: 0.02em;

    &.is-open {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        
        
        padding-left: 15px;
        padding-bottom: 48px;
        
        background: $background-modal;
    }
}

.menu-container__social {
    display: inline-flex;
}

.menu-container__item {
    padding-right: 10px;

    &:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}


.menu-container__link {
    font-size: 18px;
    line-height: 1.22;
    color: $color-accent;
}
