.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header__logo {
    color: $color-dark;

    @media (min-width: 768px) {
        margin-right: 88px;
    }
    @media (min-width: 1200px) {
        margin-right: 93px;
    }
}

.header__nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        
        font-weight: 500;
        letter-spacing: 0.02em;
    }
}