.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1200px) {
        flex-direction: row;
    }
}

.subscription__input {
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: $background-dark;

    color: $color-light;

    outline: none;
    cursor: pointer;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }


    @media (max-width: 479px) {
        width: calc(100vw - 2*15px);
    }
    
    @media (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0px;
    }
}

.subscription__icon {
    margin-left: 10px;
}