.team {
    background-color: $background-lightgrey;
}

.team__list {
    @include card-list;
}

.team__item {
    @include card-item (4);
}

.team__image {
    display: block;
}

.team__content {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;

    background-color: $background-modal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__heading {
    margin-bottom: 10px;

    color: $color-dark;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__description {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}