  
    $font-main: "Roboto", sans-serif;
    $font-second: "Raleway", sans-serif;

    $color-main: #757575;
    $color-dark: #212121;
    $color-light: #ffffff;
    $color-accent: #2196f3;

    $background-lightgrey: #f5f4fa;
    $background-dark: #2f303a;
    $background-accent: #2196f3;
    $background-modal: #ffffff;

    $icon-fill: #afb1b8;
    $icon-light: #ffffff;
    $icon-accent: #2196f3;

    $card-set-gap: 30px;

